
body {
  margin: 0% 5%;
  background-color: azure;
  color: rgb(52, 175, 52);
  font-family: 'Courier New', Courier, monospace;
}

main #texto {
  margin: 0% 5% 5%;
  padding: 0%;
  width: 100%;
}

#nome {
  text-align: center;
}